@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(35, 101, 186);
  border-radius: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}